.header {
    width: 100%;
    height: 70px;
    background-color: #4882c1;
    color: rgb(0, 0, 0);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header span{
    font-size: 1.225rem;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    color: whitesmoke;
    padding-right: 1rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.header a:hover{
    color: yellow;
}